.navbar{
  background-color: rgb(0, 0, 0) ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-style: dashed;
  border-width: 5px;
  border-color: rgb(2, 215, 242);
  padding: 5px;
}
.navbar-left{
  display: flex;
}
.navbar-left img{
  display: flex;
  justify-content: center;
  width: 35%;
  padding: 20px;
}
.navbar-right{
  display: flex;
  justify-content: end;
  align-items: center;
  width: 50%;
  gap: 20px;
  padding-right: 20px;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.navbar-right a{
  text-decoration: none;
  color:rgb(2, 215, 242) ;
  font-size: 20px;;
}
.navbar-right a:hover{
  color: rgba(2, 214, 242, 0.58); 
}

.dropdown{
  float: left;
  overflow: hidden;
}
.dropbtn{
  background: none;     /* remove background */
  border: none;         /* remove border/box */
  padding: 0;           /* remove default spacing */
  margin: 0;
  color:  rgb(2, 215, 242);
  font-size: 20px;     /* or whatever you want */
  font-family: inherit; /* inherit your site’s font */
  cursor: pointer;      /* pointer on hover */
}

.dropdown-content{
  display: none;
  position: absolute;
  min-width: 70px;
  z-index: 1;
  color:  rgb(2, 215, 242) ;
  background-color: rgba(0, 0, 0, 0.76);
}

.dropdown-content a{
  text-decoration: none;
  color: rgb(2, 215, 242);
  display: block;
}

.dropdown-content a:hover{
  color: rgba(2, 214, 242, 0.58);

}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {color: rgb(2, 215, 242);}


body{
  background-image: url(CP-NC-2.png);
  background-size: cover;
  margin: 10px;
}

@media (max-width: 600px) {
  .navbar{
    display: flex;
    flex-direction: column;
    width: 100 !important;
  }
  .navbar-left{
    justify-content: center;
    width: 250%;
    padding-top: 20px;
  }
  .navbar-right{
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  body{
    background-image: url(CITY-NIGHT-WALLPAPER-01-1170x2535.jpg);
  }
  
}

/*.orbitron-<uniquifier> {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}*/

.ovningsuppgifter{
  header{
    background-color: black;
    color: white;
  }
  header h1{
    display: flex;
    justify-content: center;
  }

  .boxes{
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: aqua;
    gap: 60px;
    margin-top: 10%;
      font-family: "Orbitron", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
  }
  .box{
    border-style: dashed;
    width: 290px;
    padding: 15px;
  }
  .box h3{
    text-align: center;
  }





















}






